@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Krub|Roboto');
* {
  margin: 0;
  padding: 0;
  font-family: 'Krub', sans-serif;
}


nav {
  width: 100%;
  margin: auto;
  background-color: #cee2c9;
}

nav a {
  text-decoration: none;
  color: white;
}

a.nav-item {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden;
  color: #1a3714;
  font-size: 1.1em;
}

a.nav-item:hover {
  color: white;
}

a.nav-item.nav-link.active{
  color: white;
}

#principal {
  padding: 2% 0 2% 0;
  width: 100%;
  color: white;
}

#title {
  margin-top: 2%;
  width: 100%;
  color: #1a3714;
  text-align: center;
  font-size: 2em;
  font-family: 'Krub', sans-serif;
}

#text {
  width: 75%;
  margin: 0 13% 0 13%;
  display: flex;
  background-color: #cee2c9;
}

#text1{
  width: 75%;
  margin: 0 13% 0 13%;
}

#primeiraColuna {
  text-align: justify;
  width: 50%;
  padding: 2% 2% 2% 2%;
  background-color: #cee2c9 !important;
  color: black;
 /* width: 40%;
  margin-left: 10%;
  padding: 1% 2% 1% 2%;
  display: inline-block;
  background-color: #9BC491;
  text-align: justify;*/
}

#principal #img-historia{
  margin: 2% 30% 2% 0%;
}

#segundaColuna {
  width:50%;
  text-align: justify;
  padding: 2% 2% 0 2%;
  background-color: #cee2c9!important;
  color: black;
 /* width: 40%;
  margin-right: 10%;
  padding: 1% 2% 1% 2%;
  display: inline-block;
  background-color: #9BC491;
  text-align: justify;*/
}

footer {
  width: 100%;
  margin: auto;
  padding: 1% 0 1% 0;
  background-color: #cee2c9;
  font-weight: none: ;
  text-align: center;
}

footer a{
  margin-right: 1%;
}

a#textoMenu{
  color: #1a3714;
}

.dropbtn {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #cee2c9;
    color: #1a3714;
    font-size: 1.1em;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none !important;
    display: block;
}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #cee2c9;}