@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Krub|Roboto');

/*
*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

nav{
	width: 70%;
	margin:auto;
}

nav a{
	text-decoration: none;
	color: white;
}

ul {
	list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
	float: left;
	display: block;
	text-align: center;
    padding: 17px 16px;
    font-size: 1.1em;
}

ul li:hover{
	color: pink;
	background-color: pink;
}

nav ul li:first-child{
	padding: 0.7% 2% 0.7% 2%;
}
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Krub', sans-serif;
}

nav {
  width: 100%;
  margin: auto;
  background-color: #cee2c9;
}

nav a {
  text-decoration: none;
  color: white;
}

a.nav-item {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden;
  color: #1a3714;
  font-size: 1.1em;
}

a.nav-item:hover {
  color: white;
}

a.nav-item.nav-link.active{
  color: white;
}

#carousel{
  width: 100%;
 /* margin: 0 15% 0 15%;*/
}

#principal {
  padding: 0 0 2% 0;
  width: 100%;
  margin: auto;
  color: white;
}

#title {
  width: 100%;
  color: #1a3714;
  text-align: center;
  padding: 4%;
  font-size: 2em;
  background-image:url('../images/ceara-mirim.jpg');
  background-size: 100%;
  font-family: 'Krub', sans-serif;
}

#title:hover{

}

/*
#imageCity{
	background-image: url("../images/ceara-mirim2.jpg");
	background-size: cover;
	background-size: cover;
	margin: 0 0 2% 0;
	height: 300px;
	background-color: blue;
}*/

#sobre{
  width:70%;
  margin: 0 auto;
}

#aboutCity {
  margin: 5% 12% 0 12% !important;
  width: 75% !important;
  background-color: #9BC491!important;
  color: black;
  text-align: justify;
}

#aboutCity p:first-child {
  font-size: 1.3em !important;
}

#aboutCity p {
  font-size: 1em !important;
  padding: 2% 2% 2% 2% !important;
}

footer {
  width: 100%;
  margin: auto;
  padding: 1% 0 1% 0;
  background-color:#cee2c9;
  font-weight: none: ;
  text-align: center;
}

footer a{
  margin-right: 1%;
}

